body {background-color: #000033;
	  background-image: url(primediagonal.png);
	  color: #003300;
	  font-family: Arial, Helvetica, sans-serif;}

h1 {text-indent: -99999px;}

h2 {color: #003366;}

h3 {color: #006600;
	padding-top: 10px;}

dd {font-style: italic;
	font-size: .90em;
	line-height: 200%;}

#header {color: #48751a;
		 text-align: left;
		 background-image: url(primelogo.gif);
		 background-repeat: no-repeat;
		 height: 100px;}

.nav {font-weight: bold;
	  font-size: 1.2em;}

.contact {font-weight: bold;
		  font-size: .90em;
		  font-family: "Times New Roman", serif;}

#footer {font-size: .60em;
		 font-style: italic;
		 clear: both;}

#wrapper {width: 80%;
		  margin-right: auto;
		  margin-left: auto;
		  background-color: #ffffcc;
		  min-width: 700px;
		  padding-bottom: 20px;
		  padding-left: 30px;
		  border: ridge 1px #00332b;
		  border-radius: 15px;
		  -webkit-box-shadow: inset -3px -3px 3px 3px #00332b;
		  -mox-box-shadow: inset -3px -3px 3px 3px #00332b;
		  box-shadow: inset -3px -3px 3px 3px #00332b}

img {border: none;}

#left {float: left;
	   width: 150px;}

	#left a {text-decoration: none;
			 display: block;
			 text-align: center;
			 color: #ffffcc;
			 font-weight: bold;
			 border: 3px outset #cccccc;
			 padding: 5px;}

		#left a:link {background-color: #003366;}

		#left a:visited {background-color: #48751a;}

		#left a:hover {border: 3px inset #333333;}

	#left ul {list-style-type: none;
			  margin: 0;
			  padding-left: 0;}

#right {margin-left: 180px;
		padding: 0 20px 20px 0}

.floatleft {float: left;
			padding: 0 20px 20px 0;}

.clear {clear: left;}

#mobile {display: none;}

#desktop {display: inline;}

table {background-color: #ffffff;
	   width: 80%;
	   border: 1px solid #000033;
	   margin-bottom: 10px;
	   border-collapse: collapse;}

	th {text-align: center;
		color: #006600;
		border: 1px solid #000033;}

	td {text-align: center;
		padding: 10px;
		border: 1px solid #000033;}

	table p {margin-top: 0;}

	table h3 {margin-top: 0;}

label {float: left;
	   display: block;
	   text-align: right;
	   width: 120px;
	   padding-right: 10px;}

input {display: block;
	   margin-bottom: 20px;}

textarea {display: block;
		  margin-bottom: 20px;}

#mySubmit {margin-left: 130px;}

